{% extends 'admin/base_site.html' %}

{% load static %}


{% block branding %}
    
    <h1 id="head" class="text-dark">
        <img src="{% static 'img/purple_logo.png' %}"
        alt="CS557 Final Project"
        style="width:auto; height:60px; color: #fff !important;"
        class="brand_img"
        >  User Area
    </h1>

{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" media="screen,projection" 
          href="{% static 'css/admin.css' %}">
{% endblock %}