{% extends 'base.html' %}

{% load static %}

{% block title %} | Change Password {% endblock %}

{% block content %}


<div class="container mb-3">
    <!-- Breadcrumb -->
<div class="container pt-3">
    <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color: #FFF;">
  
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}" class="text-dark">
                    <i class="fas fa-home"></i> Home</a>
                </li>
                
                <li class="breadcrumb-item">
                    <a href="{% url 'dashboard' %}" class="text-dark">
                    <i class="fas fa-home"></i> Dashboard</a>
                </li>

                {% if user.is_authenticated %}
                  <li class="breadcrumb-item active">Change Password</li>
                {% endif %}
                </ol>
                
    </nav>
</div>
<!-- Breadcrumb -->


<!-- dashboard content -->
<div class="container z-depth-1 pb-3">
    <div class="row">
  
        <!-- sidebar -->
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 offset-xl-0 mt-3">
          
          {% include 'partials/_dashboard_base.html' %}
            
        </div>
  
        <!-- content -->
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8" >

            <!-- Header -->
            <div class="card-header text-white my-3 " style="background: #d8d8d8;" >
                <h4>
                    Forgot Your Password?
                </h4>
                
            </div>
            <!-- Header -->

            <!-- Body -->
            <div >

                <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

                <form action="{% url 'change_password' %}" method="POST">
                    {% csrf_token %}

                    <div class="form-row">

                        <!-- Email -->
                        <div class="col-1 mr-auto">
                            <label for="message" class="col-form-label">Email:</label>
                        </div>
                        <div class="col-10 ml-auto">
                            <input  type="email" 
                                        id="email" 
                                        name="email" 
                                        placeholder="Email" 
                                        class="form-control" 
                                        name= "email" 
                                        {% if user.is_authenticated  %} 
                                                value="{{user.email}}"
                                        {% endif %}
                                        required />
                        </div>
                          
                    </div>

                    <!-- Submit button -->
                    <div class="form-row ">
                        <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 mx-auto">
                            
                            <div class="form-group">
                                <button class="btn  text-capitalize font-weight-bold  text-light btn-block my-4" 
                                        type="submit"
                                        style="background: #d8d8d8; font-size: 20px; ">
                                        Send me instructions!
                                </button>
                            </div>
                            
                        </div>
                    </div>


                </form>
                    


            </div>
            <!-- Body -->
            

        </div>
  
  
    </div>
</div>
<!-- dashboard content -->
</div>

{% endblock %}