{% extends 'base.html' %}

{% load static %}

{% block title %} | Change Password  {% endblock %}

{% block content %}

	


  <!-- Breadcrumb -->
  <div class="container mt-3">
        <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" style="background-color: #FFF;">
      
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}" class="text-dark">
                        <i class="fas fa-home"></i> Home</a>
                    </li>
                    
                    <li class="breadcrumb-item">
                      Change Password 
                    </li>

                    </ol>
                    
        </nav>
  </div>
  <!-- Breadcrumb -->

  <!-- dashboard content -->
  <div class="container z-depth-1 mb-5">
    
    <div class="row">

      {% if user.is_authenticated %}
      <!-- sidebar -->
      <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 offset-xl-0 mt-3">
          
        {% include 'partials/_dashboard_base.html' %}
            
      </div>
      {% endif %}

      <!-- content -->
      <div 
          {% if user.is_authenticated %}
            class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 mt-3"
          {% else %}
            class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3"
          {% endif %}>

        <h3> Change Password </h3>
        <hr>


        <!-- Body -->
        <div class="row">

          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="container">

              <p>
                Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
              </p>

              <form action="{% url 'password_reset' %}" method="POST" class="my-3 mx-auto">
                {% csrf_token %}
      
                <div class="form-row">
      
                    <!-- Email -->
                    <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1 text-center ml-auto" >
                        <label for="message" class="col-form-label">Email:</label>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mr-auto" >
                        <input  type="email" 
                                    id="email" 
                                    name="email" 
                                    placeholder="Email" 
                                    class="form-control" 
                                    {% if user.is_authenticated  %} 
                                            value="{{user.email}}"
                                    {% endif %}
                                    required />
                    </div>
                      
                </div>
      
                <!-- Submit button -->
                <div class="form-row ">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4  mx-auto">
                        
                        <div class="form-group ">
                            <button class="btn  text-capitalize font-weight-bold text-dark btn-block my-4" 
                                    type="submit"
                                    style="background: #d8d8d8; font-size: 15px; ">
                                    Send me instructions!
                            </button>
                        </div>
                        
                    </div>
                </div>
      
              </form>
              
            </div> 
          </div>

        </div>
        <!-- Body -->
        
      </div>

    </div>

  </div>


	

{% endblock %}