{% extends 'base.html' %}

{% block title %} | Confirm Password  {% endblock %}


{% block content %}

  {% load crispy_forms_tags %}  
  
      <!-- Breadcrumb -->
      <div class="container pt-3">
        <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" style="background-color: #FFF;">
      
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}" class="text-dark">
                        <i class="fas fa-home"></i> Home</a>
                    </li>
                    
                    <li class="breadcrumb-item">
                        Confirm Password
                    </li>

                    </ol>
                    
        </nav>
    </div>
    <!-- Breadcrumb -->

  <!--Password Reset Confirm-->
  <div class="container z-depth-1 mb-5" style="min-height: 400px;">
    
    <div class="row">

      {% if user.is_authenticated %}
      <!-- sidebar -->
      <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 offset-xl-0 mt-3">
          
        {% include 'partials/_dashboard_base.html' %}
            
      </div>
      {% endif %}

      <!-- content -->
      <div 
          {% if user.is_authenticated %}
            class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 mt-3"
          {% else %}
            class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3"
          {% endif %}>

            <h3> Enter New Password </h3>
            <hr>


            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div 
                {% if user.is_authenticated %}
                    class="container mt-3"
                {% else %}
                    class="container mx-3 mt-3"
                {% endif %} >


                    <p>Please enter your new password.</p>
                    <form method="POST">

                        {% csrf_token %}
                        
                        {{ form|crispy }}                    
                        <!-- <button class="btn btn-primary" type="submit">Reset password</button> -->

                        <!-- Submit button -->
                        <div class="form-row ">
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3  mx-auto">
                                
                                <div class="form-group ">
                                    <button class="btn  text-capitalize font-weight-bold text-dark btn-block my-4" 
                                            type="submit"
                                            style="background: #d8d8d8; font-size: 18px; ">
                                            Send me instructions!
                                    </button>
                                </div>
                                
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
