{% extends 'base.html' %}

{% block title %} | Link Sent Password  {% endblock %}


{% block content %}


<!-- Breadcrumb -->
<div class="container pt-3">
  <nav aria-label="breadcrumb">

    <ol class="breadcrumb" style="background-color: #FFF;">
      
      <li class="breadcrumb-item">
        <a href="{% url 'index' %}" class="text-dark">
          <i class="fas fa-home"></i> Home</a>
      </li>
                  
      <li class="breadcrumb-item">
        Link Sent
      </li>
  
    </ol>
                  
  </nav>
</div>
<!-- Breadcrumb -->


  <!--Password reset sent-->
  <div class="container z-depth-1 mb-5" style="min-height: 400px;">
    
    <div class="row">

      {% if user.is_authenticated %}
      <!-- sidebar -->
      <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 offset-xl-0 mt-3">
          
        {% include 'partials/_dashboard_base.html' %}
            
      </div>
      {% endif %}

      <!-- content -->
      <div 
          {% if user.is_authenticated %}
            class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 mt-3"
          {% else %}
            class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3"
          {% endif %}>

        <h3> Password reset link sent </h3>
        <hr>


        <!-- Body -->
        <div class="row">

          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div 
              {% if user.is_authenticated %}
                class="container mt-3"
              {% else %}
                class="container mx-3 mt-3"
              {% endif %} >
              
                We've emailed you instructions for setting your password, 
                if an account exists with the email you entered. 
                You should receive them shortly.<br>If you don't receive an email, 
                please make sure you've entered the address you registered with, and check your spam folder.
              
            </div>
          </div>
        </div>
      </div>


    </div>
  
  </div>

{% endblock %}